<!DOCTYPE html>
<html>
<head>
  <title>Shopping-Spine</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar navbar-fixed-top'>
    <div class='navbar-inner'>
      <div class='container'>
        <a data-section='home' href='/' class='brand'>Shop</a>
        <ul class='nav'>
          <li><a data-section='women' class='navigable' href='/men'>Men</a></li>
          <li><a data-section='men' class='navigable' href='/women'>Women</a></li>
          <li><a data-section='home' class='navigable' href='/home'>Home</a></li>
        </ul>
        <ul id='cart-wrap'class='nav pull-right'>
          <li>
            <a href='/cart'>
              <span id='items_in_cart'></span>
              <i class='icon-shopping-cart icon-white'></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div id='main' class='container'>
  </div>
</body>
</html>
